/*Header Area*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;

}

.logo {
display: flex;
align-items: center;
flex-grow: 1;
padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.logo span {
color: MediumAquamarine;
padding-left: 10px;
}

header .nav {
  display: flex;
  width: 300px;
  justify-content: space-around;
  padding-right: 30px;
}

/* Main Content Area*/

.main-content {
  padding-top: 100px;
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding-bottom: 75px;
}

/*Large Column*/

.large {
  width: 630px;

}
div .mainstory-image {
  display: flex;
  background-image: url("../images/main.png ");
  min-height: 200px;
}
.mainstory-image span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
div .story2-image {
  display: flex;
  background-image: url("../images/story-2.png");
  min-height: 200px;
  width: 285px;

}
div .story3-image {
  display: flex;
  background-image: url("../images/story-3.png");
  min-height: 200px;
}


.othernews {
  display: inline-flex;
  justify-content:space-between;
}

.news span {
  text-align: center;
}



/*Medium Column*/

.medium {
  width:300px;
}
div .story1-image {
  display: flex;
  background-image: url("../images/story-1.png");
  min-height: 200px;
}

/*Small Column*/

.small {
  width:240px;
}
.news-bites {
  display:flex;
  flex-direction: column;
  text-align: center;

}
.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
}
.bites {
  margin:0px;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  text-align: left;
}


/* Global Attributes*/

.news span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.blurb {
  font-family: Georgia;
  font-size: 17px;
  color: black;
